<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
<meta name="description" content="Советы и идеи" />
<link rel="canonical" href="https://my-tips.ru/" />
<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Копилка советов" />
<meta property="og:description" content="Советы и идеи" />
<meta property="og:url" content="https://my-tips.ru/" />
<meta property="og:site_name" content="Копилка советов" />
<meta name="twitter:card" content="summary_large_image" />
<link rel="stylesheet" id="google-fonts-css" href="https://fonts.googleapis.com/css?family=Montserrat%3A400%2C400i%2C700&#038;subset=cyrillic&#038;display=swap" media="all" />
<link rel="stylesheet" id="reboot-style-css" href="/static/css/style.min.css" media="all" />
<link rel="stylesheet"  href="/static/css/addon.css" media="all" />
<script src="/static/js/jquery.min.js" id="jquery-core-js"></script>
<link rel="preload" href="/static/fonts/wpshop-core.ttf" as="font" crossorigin />
<link rel="icon" href="/static/img/cropped-ets_logo-32x32.png" sizes="32x32" />
<link rel="icon" href="/static/img/cropped-ets_logo-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="/static/img/cropped-ets_logo-180x180.png" />
<meta name="msapplication-TileImage" content="/static/img/cropped-ets_logo-270x270.png" />
